<%-include("header.ejs")%>

<%-include("nav.ejs")%>

<div class="main">
  <div class="page1">
   <div class="center">
    <img src="/images/leaf.png" >
    <h1>GROWFARM</h1>
   
  </div>
  <div class="scroller">
    <div class="sroller1">
        <h4>-Crops</h4>
        <h4>-Fertilizers</h4>
        <h4>-Diagonosis</h4>
    </div>
    <div class="sroller1">
      <h4>-Crops</h4>
      <h4>-Fertilizers</h4>
      <h4>-Diagonosis</h4>
  </div> <div class="sroller1">
    <h4>-Crops</h4>
    <h4>-Fertilizers</h4>
    <h4>-Diagonosis</h4>
</div>
 </div>
</div>
<div class="page2">
  <div class="up">
   <h4>Crops</h4>
   <h4>Season</h4>
  </div>
  <div class="center">
   <div class="box1" id="a">
       <h1>WHEAT</h1>
       <div class="overlay">
        <i class="ri-arrow-right-line"></i>
        <h4>WHEAT</h4>
        <p>Seasons: Wheat is typically planted in the fall for winter wheat or in the spring for spring wheat. <br><br>
          Soil: It thrives in well-drained, loamy soils that are rich in organic matter and nitrogen. <br><br>
          Irrigation Techniques: Common methods include flood irrigation, furrow irrigation, drip irrigation, and sprinklers, tailored to water availability and efficiency.

          </p> 
</div>
   </div>
   <div class="box1" id="b">
    <h1>PADDY</h1>
    <div class="overlay">
      <i class="ri-arrow-right-line"></i>
      <h4>PADDY</h4>
      <p>Seasons: Paddy is usually planted in the wet or rainy season, depending on the variety and region. <br><br>
       
     Soil: It prefers flooded or waterlogged fields, particularly in clayey or loamy soils. <br><br>
     Irrigation Techniques: Paddy fields are typically flooded, primarily through flood irrigation. Water-saving techniques like alternate wetting and drying (AWD) are gaining popularity, where fields are allowed to partially dry between floodings.
        </p>
</div>
  </div>
<div class="box1" id="c">
  <h1>LENTILS</h1>
  <div class="overlay">
    <i class="ri-arrow-right-line"></i>
    <h4>LENTILS</h4>
    <p>Seasons: Lentils are typically grown in cool-season climates. They are sown in late winter to early spring or late summer to early autumn, depending on the region and variety.
<br><br>
      Soil: Lentils thrive in well-drained sandy or loamy soils with good organic matter content. They prefer slightly acidic to neutral pH levels.
      <br><br>
      Irrigation Techniques: Lentils generally require moderate water. Irrigation methods like furrow or drip irrigation are suitable, ensuring the soil remains consistently moist but not waterlogged during the growing season.</p>

    </div>
</div>
<div class="box1" id="d">
  <h1>SUGARCANE</h1>
  <div class="overlay">
    <i class="ri-arrow-right-line"></i>
    <h4>SUGARCANE</h4>
    <p>Seasons: Sugarcane is primarily grown in tropical and subtropical regions throughout the year.
     <br><br> Soil: It thrives in well-drained, loamy soils with plenty of organic matter and slightly acidic to neutral pH.
     <br><br> Irrigation Techniques: Sugarcane benefits from regular and ample water. Drip irrigation and furrow systems are commonly used to ensure consistent moisture levels for optimal growth and sugar yield.</p>
</div>
</div>
  </div>
  <div class="btn">  <button>EXPLORE MORE</button>

</div>
<div class="page3">
  <div class="up">
   <h4>FERTILIZERS</h4>
   <h4>CROPS</h4>
  </div>
  <div class="center">
   <div class="box1" id="a">
       <h1>NITROGEN (N)</h1>
       <div class="overlay">
        <i class="ri-arrow-right-line"></i>
        <h4>NITROGEN (N)</h4>
        <p>Benefits: Nitrogen is essential for wheat's vegetative growth and protein synthesis. It helps in increasing the yield and improving grain quality. <br><br>
          How to use: Apply nitrogen fertilizers in split doses. The first application can be done at planting or during the tillering stage, and additional doses can be applied during stem elongation or booting stages. The amount and timing of nitrogen application can vary depending on soil type, wheat variety, and local conditions.</p>
</div>
   </div>
   <div class="box1" id="b">
    <h1>PHOSPHROUS (P)</h1>
    <div class="overlay">
      <i class="ri-arrow-right-line"></i>
      <h4>PHOSPHOROUS (P)</h4>
      <p>
        Benefits: Phosphorus is vital for strong root development and early growth in paddy plants. It supports flowering and grain formation. <br><br>
        How to use: Apply phosphorus fertilizers during planting or as a basal application before transplanting. Incorporate it into the soil for better root access</p>
</div>
  </div>
<div class="box1" id="c">
  <h1>POTASSIUM (K)</h1>
  <div class="overlay">
    <i class="ri-arrow-right-line"></i>
    <h4>POTASSIUM (K)</h4><p>Benefits: Potassium helps with lentil plant vigor, disease resistance, and overall plant health. It can enhance yield and quality. <br><br>
      How to use: Apply potassium fertilizers during early growth stages and pod development. Top-dressing may be necessary if your soil is deficient in potassium.</p>
</div>
</div>
<div class="box1" id="d">
  <h1>MICRONUTRIENT</h1>
  <div class="overlay">
    <i class="ri-arrow-right-line"></i>
    <h4>MICRONUTRIENT</h4>
    <p>
      In some cases, lentils may require micronutrients like boron, zinc, and iron. Soil tests or plant tissue analysis can help diagnose deficiencies. <br><br>
      Application rates and methods for micronutrient fertilizers depend on specific deficiency findings.</p>
</div>
</div>
  </div>
<div class="btn">  <button>EXPLORE MORE</button>
</div>
</div>
<div class="page4">
  <div class="up">
   <h4>DISEASES IN CROPS</h4>
   <h4>DIAGNOSIS OF DISEASES</h4>
  </div>
  <div class="center">
   <div class="box1" id="a">
       <h1>LEAF RUST</h1>
       <div class="overlay">
        <i class="ri-arrow-right-line"></i>
        <h4>LEAF RUST</h4>
        <p>Symptoms: Small, reddish-brown pustules on the leaves that can merge and cause severe damage. <br><br>
          Diagnosis: Visual inspection of leaves. <br><br>
          Cure: Fungicides can be applied during the growing season to manage leaf rust. Choosing rust-resistant wheat varieties is also an effective preventive measure.</p>
</div>
   </div>
   <div class="box1" id="b">
    <h1>SCAB</h1>
    <div class="overlay">
      <i class="ri-arrow-right-line"></i>
      <h4>SCAB</h4>
      <p>Symptoms: Scabby, shriveled grains and infected heads. <br><br>
        Diagnosis: Inspection of the wheat heads. <br><br>
        Cure: Fungicides can be used, but they are more effective for prevention if applied before flowering. Crop rotation with non-host crops can help reduce disease pressure.</p>
</div>
  </div>
<div class="box1" id="c">
  <h1>LEAF BLOTCH</h1>
  <div class="overlay">
    <i class="ri-arrow-right-line"></i>
    <h4>LEAF BLOTCH</h4>
    <p>Symptoms: Dark, necrotic spots with yellow margins on the leaves. <br><br>
      Diagnosis: Visual inspection of leaves. <br><br>
      Cure: Fungicides can be used when the disease is severe. Crop rotation and selecting resistant varieties can help prevent it.</p>
</div>
</div>
<div class="box1" id="d">
  <h1>STEM RUST</h1>
  <div class="overlay">
    <i class="ri-arrow-right-line"></i>
    <h4>STEM RUST</h4>
    <p>Symptoms: Brown pustules on the stems. <br><br>
      Diagnosis: Visual inspection of stems. <br><br>
      Cure: Fungicides can be applied, but planting rust-resistant varieties is a more effective strategy.</p>
</div>
</div>
  </div>
  <div class="btn">  <button>EXPLORE MORE</button>

</div>
 
<footer class="footer main-grid">
  <div class="footer-text">
      <h6>With Warm Regards</h6>
    <p class="end">THE GROWFARM TEAM</p>
    <p class="copyright">© farmgrow2023</p>
  </div>
  <div class="social">
    <a href="#" class="facebook icon"><i class="fab fa-facebook-f"></i></a>
    <a href="#" class="twitter icon"><i class="fab fa-twitter"></i></a>
    <a href="#" class="instagram icon"><i class="fab fa-instagram"></i></a>
  </div>
</footer>




<%-include("footer.ejs")%>