<%-include("header.ejs")%>
<%-include("nav.ejs")%>
 
<div class="con">
    <section>
    
        <div class="section-header">
          <div class="container">
            <h2>Contact Us</h2>
            <p>With an ever-growing population, traditional agriculture simply cannot keep up with demand. GrowFarm is leading the way in revolutionizing the industry by using innovative techniques to increase yields and reduce waste.</p>
          </div>
        </div>
        
        <div class="container">
          <div class="row">
            
            <div class="contact-info">
              <div class="contact-info-item">
                <div class="contact-info-icon">
                  <i class="fas fa-home"></i>
                </div>
                
                <div class="contact-info-content">
                  <h4>Address</h4>
                  <p>85A, Kalpana Nagar<br/> Bhopal, Madhya Pradesh <br/>462023</p>
                </div>
              </div>
              
              <div class="contact-info-item">
                <div class="contact-info-icon">
                  <i class="fas fa-phone"></i>
                </div>
                
                <div class="contact-info-content">
                  <h4>Phone</h4>
                  <p>+91 85652-55778</p>
                </div>
              </div>
              
              <div class="contact-info-item">
                <div class="contact-info-icon">
                  <i class="fas fa-envelope"></i>
                </div>
                
                <div class="contact-info-content">
                  <h4>Email</h4>
                 <p>farmgrow44@gmail.com</p>
                </div>
              </div>
            </div>
            
            <div class="contact-form">
              <form action="" id="contact-form">
                <h2>Send Message</h2>
                <div class="input-box">
                  <input type="text" required="true" name="">
                  <span>Full Name</span>
                </div>
                
                <div class="input-box">
                  <input type="email" required="true" name="">
                  <span>Email</span>
                </div>
                
                <div class="input-box">
                  <textarea required="true" name=""></textarea>
                  <span>Type your Message...</span>
                </div>
                
                <div class="input-box">
                  <input type="submit" value="Send" name="">
                </div>
              </form>
            </div>
            
          </div>
        </div>
      </section>
       
 
    
</div>
<footer class="footer main-grid">
    <div class="footer-text">
        <h6>With Warm Regards</h6>
      <p class="end">THE GROWFARM TEAM</p>
      <p class="copyright">© farmgrow2023</p>
    </div>
    <div class="social">
      <a href="#" class="facebook icon"><i class="fab fa-facebook-f"></i></a>
      <a href="#" class="twitter icon"><i class="fab fa-twitter"></i></a>
      <a href="#" class="instagram icon"><i class="fab fa-instagram"></i></a>
    </div>
  </footer>

<%-include("footer.ejs")%>