
<div class="nav">
    <div class="left">
    <img src="/images/leaf.png" >
    <h1>GROWFARM</h1>
    </div>
    <div class="right">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/contact">Connect with us</a>
    </div>
        </div>
     
